/* Third Party CSS */
@import url("https://fonts.googleapis.com/css2?family=Neuton&display=swap");

/* Custom CSS */
@import url("./loader.css");

/* tailwindCSS */
@tailwind base;

@tailwind components;

@tailwind utilities;

body {
  height: 100%;
  width: 100%;
}

html {
  height: 100%;
  width: 100%;
}

#__next {
  height: 100%;
  width: 100%;
}
